@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(simquadrat_bw_2560x1440.png);
    background-position: center center;
    background-size: cover;
    background-blend-mode: darken;
    top: 0;
    right: 0;
}

.container {
    position: relative;
    width: 700px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.form-hold {
    background-color: rgba(41, 41, 41, 0.6);
    border-radius: 50px;
}

.heading {
    color: white;
}

.form-hold input[type=text] {
    background: transparent;
    outline: none;
}

input {
    background-color: #fff !important;
}

.text {
    text-align: left;
    color: #fff;
}

.footer-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #1c1c1c;
}

.footer-div a {
    color: orange;
    text-decoration: none;
}

@media(max-width:800px) {
    .container {
        width: auto;
        height: 100%;
    }
}